@media screen and (max-width: 1025px) {
    .head2{
        .menu-full{
            .menu-nav{
                ul{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    li{
                        a{
                            white-space: nowrap;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
    .slider{
        .category{
            .categories-menu{
                ul{
                    li{
                        a{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    .new-product{
        .seller-product{
        .product-box{
            .imgbox{
                img{
                    width: 100%;
                }
            }
            .textbox{
                a{
                    font-size: 15px;
                }
                .iconbox{
                    i{
                        font-size: 15px;
                    }
                }
                .span{
                    font-size: 15px;
                }
            }
        }
        }
    }
    
}


@media screen and (max-width: 412px) {
    .head1{
        padding: 15px;
        .img-a{
            display: flex;
            justify-content: center;
        }
        .ahref{
            display: flex;
            justify-content: center;
            margin: 20px;
        }
    }
    .head2{
        .menu-full{
            display: none;
        }
        .responsive{
            display: flex;
            flex-direction: column;
            .search-responsive{
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-content: center;
                background-color: $green;
                padding: 0 12px;
                @include border-full;
                margin: 5px 42px ;
                input{
                    padding: 6px 12px;
                    margin: 13px 5px;
                    @include border-full;
                    border: none;

                }
                button{
                    background-color: $green ;
                    border: none;
                    i{
                        background-color: $green;
                        font-size: 20px;
                        padding: 12px 16px;
                    }
                }
            }
            .menu-responsiv{
                display: flex;
                background-color: $green;
                justify-content: space-between;
                align-items: center;
                align-content: center;
                padding: 13px;
                @include border-full;
                margin: 5px 42px ;
                h6{
                    font-size: 20px;
                    color: white;
                }
                button{
                    background-color: $green ;
                    border: none;
                    i{
                        font-size: 20px;
                        background-color: $green;
                        color: white;
                        
                    }
                }
            }
        }
    }
    .slider{
        .category{
            display: none;
        }
        .banner{
            display: none;
        }
    }
    .product{
        .product-top{
            .product-list{
                padding: 0;
                ul{
                    white-space: nowrap;
                    padding: 15px;
                }
                .iconbox{
                    display: none;
                }
            }
            .product-full{
                flex-direction: column;
                .product1{
                    width: 100%;
                }
            }
        }
    }
    .featured{
        .product{
            flex-direction: column;
            .product1{
                width: 100%;
            }
        }
    }
    .banner-shopping{
        .banner{
            margin-bottom: 15px;
            .banner-text{
                top: 0;
                right: 0px;
                h2{
                    font-size: 20px;
                }
                h3{
                    font-size: 13px;
                }
                a{
                    font-size: 13px;
                }

            }
        }
    }
    .new-product{
        .seller-product{

            flex-direction: column;
            
        }
    }
    .ours{
        .logo-demo{
            display: none;
        }
        .logo-demo-responsive{
            display: flex;
            justify-content: center;
            border: 1px solid $border;
            padding: 15px 7px;
            margin: 15px;
            .imgbox{

                img{
                    width: 100%;
                }
            }
        }

    }
    .recent{
        .post{
            flex-direction: column;
        }
    }
    .footer-top{
        height: 180px;
        padding: 25px 0;


        .email{
            .textbox{
                display: none;
            }
            form{
                .input{
                    margin: 20px 40px;
                }
            }
        }
    }
    .footer-bootom{
        flex-direction: column;
        
    }

    
}

@media screen  and (max-width: 820px) {
   .header2{
    .menu-full{
        .menu-nav{
            ul{
                li{
                    .a-watch{
                        display: none;
                    }
                }
            }
        }
    }
   } 
   .product{
    .product-top{
        .product-full{
            display: block;
        }
    }

   }
}

