$red: red;
$orange: #f07b1d;
$black: black;
$green: #74b894;
$gray: #7e7e7e;
$border: #dee2e6;
$text: #4c4c4c;
$footer-top: #404040;
$footer-border: #666;
$email: #313131;
$footer-area:#4c4c4c;
$footer-menu-border: #acf3cd;