@import "_variable.scss";
@import "_mixin.scss";
@import "_reset.scss";

.head1 {
  .ahref {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: center;
    align-items: center;

    .text {
      h1 {
        font-size: 16px;
        color: $black;
        margin: 0;
      }

      h2 {
        font-size: 16px;
        color: $orange;
        margin: 0;
      }
    }
  }
}

.menu-home {
  display: none;
}

.head2 {
  .menu-full {
    padding: 5px 5px 0 10px;
    background-color: $green;
    @include border-full;
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;

    .menu-nav {
      ul {
        margin: 0;
        padding: 0;

        li {
          display: inline-block;

          .a-home {
            background-color: white;
            padding: 15px;
            line-height: 23px;
            @include border5;

            i {
              color: $gray;
              font-size: 15px;
            }
          }

          a {
            font-size: 18px;
            color: white;
            font-weight: 700;
            padding: 15px;
            line-height: 23px;

            // &:hover {
            //   .watch-menu {
            //     display: block;
            //   }
            // }
          }

          .watch-menu {
            display: none;
          }
        }
      }
    }

    .search {
      input {
        padding: 6px 12px;
        border: none;
        @include border-search;
        width: 100%;
        height: 48px;
      }

      button {
        background-color: $green;
        border: none;
        padding: 12px 16px;

        i {
          color: black;
          font-size: 18px;
        }
      }
    }
  }
}

.slider {
  margin: 12px 0 0;
  padding: 20px 0 0;

  .category {
    padding: 0 15px;

    .category-head {
      padding: 20px 20px 10px;
      background-color: $orange;
      color: white;

      h2 {
        font-size: 18px;
        font-weight: 700;
      }

      i {
        margin: 3px 20px 0 0;
        font-weight: 700;
      }

      .iconbox {
        i {
          margin: 0 0 0 60px;
          font-weight: 700;
        }
      }
    }

    .categories-menu {
      border: 1px solid $border;

      ul {
        padding: 0 20px;

        li {
          border-bottom: 1px solid $border;
          padding: 12px 0;

          a {
            color: $text;
            font-size: 18px;
          }

          .ahref-more {
            i {
              color: red;
            }

            a {
              color: red;
            }
          }

          &:last-child {
            border: none !important;
          }
        }
      }
    }
  }

  .slide-img {
    position: relative;

    .imgbox {
      img {
        width: 100%;
      }
    }

    .imgbox-perc {
      position: absolute;
      bottom: 0;
    }

    .textbox {
      position: absolute;
      top: 50px;
      left: 30px;

      h1 {
        font-size: 23px;
        color: $gray;
        margin: 0 0 5px;
        font-weight: 700;
      }

      h2 {
        font-size: 30px;
        font-weight: 600;
        background-color: red;
        padding: 5px;
        width: 80px;
        color: white;
      }
    }
  }
}

.banner {
  .banner1 {
    position: relative;

    img {
      width: 100%;
    }

    .textbox {
      position: absolute;
      top: 20px;
      left: 20px;
      text-align: center;

      h1 {
        font-size: 24px;
        color: white;
        font-weight: 600;
      }

      h2 {
        font-size: 19px;
        color: white;
      }
    }
  }

  .banner2 {
    position: relative;

    img {
      width: 100%;
    }

    .textbox {
      position: absolute;
      top: 20px;
      left: 30px;

      h1 {
        font-size: 35px;
        color: black;
        font-weight: 700;
      }

      .text {
        text-align: center;
        justify-content: center;

        h2 {
          font-size: 16px;
          color: $orange;
        }

        h3 {
          font-size: 16px;
          color: black;
        }
      }
    }
  }
}

.product {
  padding: 30px 0;

  .product-top {
    .product-list {
      border: 1px solid $border;
      padding: 15px;
      @include border-full;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;

      ul {
        margin: 0;

        li {
          display: inline;
          font-size: 20px;
          font-weight: 600;
          background-color: $green;
          padding: 6px 23px;
          margin: 0 6px 0 0;
          color: white;
          @include border-full;
        }
      }

      .iconbox {
        i {
          padding: 10px 12px;
          margin: 0 3px;
          border: 1px solid $border;
          @include border-full;
          color: $border;
        }
      }
    }

    .product-full {
      gap: 10px;

      .product1 {
        width: 25%;

        .position-relative-btn {
          position: relative;
        }
        .add {
          @include add-button;
        }

        .imgbox-full {
          margin: 20px 10px;
          position: relative;

          .imgbox {
            border: 1px solid $border;

            img {
              width: 100%;
            }
          }

          .textbox {
            position: absolute;
            top: 20px;
            left: 10px;

            h1 {
              font-size: 13px;
              background-color: $orange;
              width: 50px;
              padding: 10px;
              color: white;
            }

            h2 {
              font-size: 13px;
              background-color: $green;
              width: 50px;
              padding: 10px;
              color: white;
            }
          }
        }

        .textbox-qua {
          text-align: center;

          h1 {
            font-size: 15px;
            color: $black-text;
            margin: 5px 0;
          }

          span {
            color: $green;
          }

          .iconbox {
            margin: 10px 0;
            color: $gray;
            font-size: 13px;
          }
        }

        .add {
          @include add-button;
        }
      }
    }
  }
}

.footer-top {
  background-color: $footer-top;
  padding: 20px 0;
  border-bottom: 2px solid $green;

  .iconbox {
    .icon-footer-box {
      border: 5px solid $footer-border;
      @include border100;
      padding: 13px;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        color: white;
      }
    }
  }

  .email {
    .textbox {
      margin: 0 40px;
      margin: 25px;

      h3 {
        color: white;
        font-size: 16px;
        font-weight: 600;
      }
    }

    form {
      .input {
        position: absolute;
        background-color: $email;
        font-weight: 400;
        padding: 10px;
        margin: 10px;

        input {
          background-color: $email;
          border: none;
        }

        button {
          position: relative;
          right: 0;
          top: 0;
          background-color: $green;
          @include border-full;
          padding: 5px 10px;
          border: none;
        }
      }
    }
  }
}

.footer-area {
  padding: 50px 0;
  background-color: $footer-area;

  .footer-menu {
    h2 {
      margin: 0 0 15px;
      font-size: 22px;
      color: white;
    }

    ul {
      li {
        font-size: 13px;
        color: white;

        &::before {
          content: "";
          background: $footer-menu-border;
          border: 2px solid #75bf97;
          border-radius: 100%;
          height: 13px;
          margin: auto 0;
          padding: 0 0 0 20px;
          width: 13px;
        }
      }
    }
  }

  .footer-contact {
    h2 {
      margin: 0 0 15px;
      font-size: 22px;
      color: white;
    }

    ul {
      li {
        i {
          margin: 0 10px 0 0;
          font-size: 20px;
          color: white;
        }

        font-size: 13px;
        color: white;
        margin: 0 0 20px;
      }
    }
  }
}

.footer-bootom {
  background-color: #404040;
  padding: 15px 0;

  p {
    font-size: 13px;
    color: white;

    i {
      color: red;
    }
  }
}

.fixed {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: $green;
  @include border100;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border: 4px solid #b1dac4;

  i {
    font-size: 20px;
    color: white;
    padding: 15px;
  }
}

.featured {
  .seller {
    display: flex;
    align-items: center;
    align-content: center;

    .text-box {
      h1 {
        font-size: 24px;
        padding: 0 10px 0 0;
        background-color: white;
        white-space: nowrap;
      }
    }

    .border-box {
      width: 100%;
      height: 3px;
      border: 1px solid $gray;
    }

    .iconbox {
      display: flex;
      align-items: center;
      align-content: center;

      i {
        padding: 10px 12px;
        margin: 0 3px;
        border: 1px solid $border;
        @include border-full;
        color: $border;
      }
    }
  }

  .product {
    gap: 10px;

    .product1 {
      width: 25%;

      .imgbox-full {
        margin: 20px 10px;
        position: relative;

        .imgbox {
          border: 1px solid $border;

          img {
            width: 100%;
          }
        }

        .textbox {
          position: absolute;
          top: 20px;
          left: 10px;

          h1 {
            font-size: 13px;
            background-color: $orange;
            width: 50px;
            padding: 10px;
            color: white;
          }

          h2 {
            font-size: 13px;
            background-color: $green;
            width: 50px;
            padding: 10px;
            color: white;
          }
        }
      }

      .textbox-qua {
        text-align: center;

        h1 {
          font-size: 15px;
          color: $black-text;
          margin: 5px 0;
        }

        span {
          color: $green;
        }

        .iconbox {
          margin: 10px 0;
          color: $gray;
          font-size: 13px;
        }
      }

      .add {
        @include add-button;
      }
    }
  }
}

.banner-shopping {
  .banner {
    position: relative;

    img {
      width: 100%;
    }

    .banner-text {
      position: absolute;
      top: 20px;
      right: 100px;

      h2 {
        font-size: 36px;
      }

      h3 {
        font-size: 24px;
        margin: 0 0 10px;
      }

      a {
        padding: 5px 13px;
        background-color: $green;
        font-size: 16px;
        color: white;
        @include border-full;
      }
    }
  }
}

.new-product {
  padding: 30px 0;

  .seller {
    display: flex;
    align-items: center;
    align-content: center;

    .text-box {
      h1 {
        font-size: 24px;
        padding: 0 10px 0 0;
        background-color: white;
        white-space: nowrap;
      }
    }

    .border-box {
      width: 100%;
      height: 3px;
      border: 1px solid $gray;
    }

    .iconbox {
      display: flex;
      align-items: center;
      align-content: center;
      i {
        padding: 10px 12px;
        margin: 0 3px;
        border: 1px solid $border;
        @include border-full;
        color: $border;
      }
    }
  }

  .seller-product {
    .product-box {
      display: flex;
      padding: 0 0 15px;
      margin: 0 0 15px;
      position: relative;
      .imgbox {
        img {
          width: 50%;
        }
      }

      .textbox {
        a {
          font-size: 15px;
          color: black;
        }

        .iconbox {
          margin: 10px 0;
          color: $gray;
          font-size: 10px;
        }

        .span {
          display: flex;

          .price99 {
            color: $gray;
            font-size: 20px;
            font-weight: 600;
            text-decoration: line-through;
          }

          .price159 {
            color: $green;
            font-size: 20px;
            font-weight: 600;
          }
        }
      }

      &::after{
        background: #e5e5e5 none repeat scroll 0 0;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
  }

  .new-seller {
    display: flex;
    gap: 10px;

    .product1 {
      width: 33.3%;

      .imgbox-full {
        margin: 20px 10px;
        position: relative;

        .imgbox {
          border: 1px solid $border;

          img {
            width: 100%;
          }
        }

        .textbox {
          position: absolute;
          top: 20px;
          left: 10px;

          h1 {
            font-size: 13px;
            background-color: $orange;
            width: 50px;
            padding: 10px;
            color: white;
          }

          h2 {
            font-size: 13px;
            background-color: $green;
            width: 50px;
            padding: 10px;
            color: white;
          }
        }
      }

      .textbox-qua {
        text-align: center;

        h1 {
          font-size: 15px;
          color: $black-text;
          margin: 5px 0;
        }

        span {
          color: $green;
        }

        .iconbox {
          margin: 10px 0;
          color: $gray;
          font-size: 13px;
        }
      }

      .position-relative-btn {
        position: relative;
      }

      .add {
        @include add-button;
      }
    }
  }
}

.ours {
  padding: 0 0 40px;

  .seller {
    display: flex;
    align-items: center;
    align-content: center;

    .text-box {
      h1 {
        font-size: 24px;
        padding: 0 10px 0 0;
        background-color: white;
        white-space: nowrap;
      }
    }

    .border-box {
      width: 100%;
      height: 3px;
      border: 1px solid $gray;
    }

    .iconbox {
      display: flex;
      align-items: center;
      align-content: center;
      i {
        padding: 10px 12px;
        margin: 0 3px;
        border: 1px solid $border;
        @include border-full;
        color: $border;
      }
    }
  }


  .logo-demo {
    display: flex;
    padding: 15px 7px;
    border: 1px solid $border;

    .imgbox {
      img {
        width: 100%;
      }
    }
  }
}

.recent {
  padding: 0 0 50px;

  .seller {
    display: flex;
    align-items: center;
    align-content: center;

    .text-box {
      h1 {
        font-size: 24px;
        padding: 0 10px 0 0;
        background-color: white;
        white-space: nowrap;
      }
    }

    .border-box {
      width: 100%;
      height: 3px;
      border: 1px solid $gray;
    }

    .iconbox {
      display: flex;
      align-items: center;
      align-content: center;
      i {
        padding: 10px 12px;
        margin: 0 3px;
        border: 1px solid $border;
        @include border-full;
        color: $border;
      }
    }
  }

  .post {
    display: flex;

    .gutter-border {
      padding: 0 15px;

      .gutter {
        padding: 10px 9px 15px;
        border: 1px solid $border;

        .imgbox {
          img {
            width: 100%;
          }
        }

        .ahref {
          padding: 0 0 13px;
          margin: 20px 0;
          font-weight: 600;
          border-bottom: 1px solid $border;

          a {
            color: black;
            font-size: 20px;
          }
        }

        .textbox {
          padding: 0 0 13px;
          margin: 0 0 20px;
          border-bottom: 2px solid $border;

          p {
            font-size: 11px;
            color: $gray;
          }
        }

        .comment {
          display: flex;
          justify-content: space-between;

          .gray {
            font-size: 12px;
            color: $gray;
          }

          .green {
            font-size: 13px;
            color: $green;
          }
        }
      }
    }
  }
}

.cart-area {
  padding: 0 15px;

  .page-menu {
    ul {
      padding: 8px 15px;
      margin: 20px 0;
      background: #fff none repeat scroll 0 0;
      border-color: #e5e5e5;
      border-radius: 4px;
      border-style: solid;
      border-width: 1px 1px 3px;
      display: inline-block;
      li {
        a {
          color: $gray;
          font-size: 12px;
        }
        .ahref-before {
          color: $green;
          font-size: 12px;
        }
      }
    }
  }

  .title {
    h1 {
      margin: 0 0 20px;
      font-size: 19px;
      color: $green;
      border-bottom: 1px solid $border;
    }
  }

  .cart-table {
    .table-responsive {
      .table {
        margin: 0 0 16px;
        display: table;
        caption-side: bottom;
        border-collapse: collapse;

        thead {
          border-color: inherit;
          border-style: solid;
          border-width: 0;

          tr {
            td {
              border: 1px solid $gray;
            }
          }
        }

        tbody {
          vertical-align: inherit;
          border-color: inherit;
          border-style: solid;
          border-width: 0;

          tr {
            td {
              border: 1px solid $gray;
              font-size: 16px;
              text-align: center;
              padding: 8px;

              a {
                img {
                  max-width: 100%;
                }

                font-size: 13px;
                color: $green;
              }

              .inputgroup {
                position: relative;
                width: 100%;
                max-width: 200px;

                input {
                  width: 100%;
                  position: relative;
                  padding: 4px 12px;
                  border: 1px solid $border;
                  @include border-full;
                }

                span {
                  button {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: $green;
                    border: medium none;
                    height: 34px;
                    width: 44px;

                    i {
                      color: white;
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  h2 {
    font-size: 18px;
    margin: 0 0 15px;
  }
  p {
    font-size: 13px;
    margin: 0 0 10px;
    color: $gray;
  }
  .panel-group {
    .accordion {
      .accordion-item {
        .accordion-header {
          background-color: $green;
          color: white;
        }
      }
    }
  }
  .cart-button-table {
    .table {
      margin: 0 0 16px;
      tbody {
        vertical-align: inherit;
        border-color: inherit;
        border-style: solid;
        border-width: 0;
      }
    }
  }
  .cart-button {
    display: flex;
    justify-content: space-between;
    .pull {
      .custom-btn {
        background-color: $green;
        color: white;
        padding: 6px 23px;
        border: none;
        @include border-full;
      }
    }
  }
}

// .accordion-button {
//   &:not(.collapsed) {
//     background-color: red !important;
//   }
// }

// https://getbootstrap.com/docs/5.0/components/accordion/
